
FlickrViewer.xcodeproj/project.xcworkspace/xcuserdata/vanyaland.xcuserdatad/WorkspaceSettings.xcsettings

*.xcbkptlist

FlickrViewer.xcodeproj/project.xcworkspace/xcshareddata/FlickrViewer.xccheckout
